<div class="card-container"> Список книг 
    <div class="card show">Воно</div>
    <div class="card">Кладовище домашніх тварин</div>
    <div class="card">Мізері</div>
    <div class="card">Сяйво</div>
    <div class="card">Аутсайдер</div>
    <div class="card">Керрі</div>
    <div class="card">Під куполом</div>
    <div class="card">Зелена миля</div>
    <div class="card">Довга прогулянка</div>
    <div class="card">Інститут</div>
    <div class="card">Салимове лігво</div>
    <div class="card">11/22/63</div>
    <div class="card">Біллі Саммерс</div>
    <div class="card">Чотири сезони</div>
    <div class="card">Джералдова гра</div>
    <div class="card">Крістіна</div>
    <div class="card">Казка</div>
    <div class="card">Необхідні речі</div>
    <div class="card">Темна половина</div>
    <div class="card">Доктор сон</div>
    <div class="card">Мертва зона</div>
    <div class="card">Острів Дума</div>
    <div class="card">Та, що породжує вогонь</div>
    <div class="card">Містер Мерседес</div>
    <div class="card">Що впало, те пропало</div>
    <div class="card">Кінець зміни</div>
    <div class="card">Куджо</div>
    <div class="card">Повна темрява. Без зірок</div>
</div>